.MuiTablePagination{
    margin: unset;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.css-16pcdfs-MuiPaper-root-MuiTableContainer-root {
    border-radius: 20px;
}
p.MuiTablePagination-displayedRows.css-11cfq65-MuiTablePagination-displayedRows{
    margin: unset;
}
.customerregisterclass{
    background-color: #2d67b8 !important;
}
@media (max-width: 425px) {
  .customerlistclass {
    font-size: 14px !important;
  }
}
h2#«rm» {
    color: #2d67b8;
}
.category-filter-btn {
  border-radius: 10px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  padding: 6px 18px !important;
}

.category-filter-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}